# Binaries
/gocask
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of go coverage tool
*.out

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Default database
database

